First you should download your data set as a csv file.
Next, import the numpy and pandas packages using the code below.

In [1]:
import numpy as np
import pandas as pd

We need pandas to read the csv file, so we would use pd.read_csv

Next we have to define pd.read_csv as df
Use the following code below to do this

In [2]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

If you just want to find the correlation between Alchohol-impared deaths and exessive drink you would need to locate those from the whole data set.


Put the parts of the data you want to find in parenthesis and use the following command to locate them

In [15]:
df.loc[:,["Alcohol-impaired driving deaths","Excessive drinking"]]

      Alcohol-impaired driving deaths  Excessive drinking
0                                 NaN               0.266
1                                 NaN               0.266
2                               0.289               0.185
3                               0.268               0.185
4                               1.000               0.171
...                               ...                 ...
6104                            0.167               0.137
6105                            0.250               0.099
6106                            0.250               0.099
6107                            0.500               0.170
6108                            0.444               0.170

[6109 rows x 2 columns]

I used the same thing for the next set of data. I wanted to find the correlation between "Access to exercise opportunities" and "adult obesity" from the whole data set.

You can use the following command

In [14]:
df.loc[:,["Access to exercise opportunities","Adult obesity"]]

      Access to exercise opportunities  Adult obesity
0                                0.896          0.300
1                                0.896          0.329
2                                0.872          0.257
3                                0.920          0.268
4                                0.957          0.315
...                                ...            ...
6104                             0.275          0.293
6105                             0.665          0.241
6106                             0.697          0.242
6107                             0.272          0.313
6108                             0.674          0.288

[6109 rows x 2 columns]

You can use the same command if you wanted to find just "children in poverty" by region. 

I used the following function to locate and show children in poverty in each region.

In [13]:
df.loc[:,["Region", "Children in poverty"]]

     Region  Children in poverty
0      West                0.087
1      West                0.076
2      West                0.128
3      West                0.102
4      West                0.351
...     ...                  ...
6104   West                0.135
6105   West                0.183
6106   West                0.145
6107   West                0.141
6108   West                0.122

[6109 rows x 2 columns]

Now I want to export this subset of data.

You need to export it as a csv file.

In [26]:
pd.merge("Region","Children in poverty","Access to exercise opportunities","Adult obesity","Alcohol-impaired driving deaths","Excessive drinking")

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed